venv_disertatie/
__pycache__/
cod_python/__pycache__/
*.pyc
db_cursuri/
db_cursuri_multilingual/
db_cursuri_old/
cursuri_pdf/
incarcari_temporare/
*.pdf
.env
*.env
.documentatie/
.documentatie_latex/
arhiva_overleaf/
evaluare_ragas/
locust/
Cerinta.txt
*.zip
llama2_disertatie_adapter/
cod_python/generare_dataset.py